<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preload" as="style" href="{{ '/styles/main.css' | absolute }}">
  <link rel="preload" as="style" href="{{ '/styles/prism.css' | absolute }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="description" content="">
  <link rel="icon" href="{{ '/favicon.ico' | absolute }}">
  <link rel="stylesheet" href="{{ '/pagefind/pagefind-component-ui.css' | absolute }}">
  <link rel="stylesheet" href="{{ '/styles/main.css' | absolute }}">
  <link rel="stylesheet" href="{{ '/styles/prism.css' | absolute }}">
  <script src="{{ '/pagefind/pagefind-component-ui.js' | absolute }}" type="module"></script>
  <script src="{{ '/scripts/copybutton.mjs' | absolute }}" type="module"></script>
  <script src="{{ '/scripts/embeds.mjs' | absolute }}" type="module"></script>
  <script src="{{ '/scripts/richlink.mjs' | absolute }}" type="module"></script>
</head>
<body>
  {% set hasHeadings = page.rawInput | headings %}
  <a href="#main-content" class="lfp-sr-only">Skip to main content</a>
  <header class="lfp-site-header">
    <div class="lfp-site-title">
      <a href="{{ baseUrl }}/" class="lfp-with-icon">
        <img src="{{ '/lfp-logo.svg' | absolute }}" alt="" width="32" height="32">
        <span>LFP Shortcode Library</span>
      </a>
    </div>
    <div class="lfp-site-menu">
      <pagefind-config bundle-path="{{ '/pagefind/' | absolute }}" base-url="{{ baseUrl }}"></pagefind-config
      <pagefind-modal-trigger></pagefind-modal-trigger>
      <pagefind-modal></pagefind-modal>
      <ul>
        <li>{{ version }}</li>
        <li>
          <a href="https://codeberg.org/lowfatprophet/eleventy-plugin-lfp-shortcodes" title="Source code" rel="noopener">
            <img src="{{ '/codeberg-logo.svg' | absolute }}" alt="" width="32" height="32">
            <span class="lfp-sr-only">Source code</span>
          </a>
        </li>
      </ul>
    </div>
  </header>
  <section class="lfp-navigation">
    <div class="lfp-navigation-toggle-set">
      <button class="lfp-site-navigation-toggle lfp-with-icon" popovertarget="site-navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
        </svg>
        <span>Menu</span>
      </button>
      {% if hasHeadings -%}
      <button class="lfp-page-navigation-toggle lfp-collapsible-arrow" popovertarget="page-navigation">
        <span>On this page</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
      </button>
      {%- endif %}
    </div>
    <aside class="lfp-site-navigation" id="site-navigation" popover>
      <nav>
        <ul>
          {% for p in collections.pages | sort(false, false, "data.order") -%}
          <li>
            <a href="{{ p.url | absolute }}" class="lfp-secondary" {% if p.url === page.url %}aria-current="page"{% endif %}>
              {{ p.data.title }}
            </a>
          </li>
          {%- endfor %}
          <li>
            <details open>
              <summary class="lfp-collapsible-arrow">
                <span>Shortcodes</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
              </summary>
              <ul>
                {% for shortcode in collections.shortcodes | sort(false, false, "data.title") -%}
                <li>
                  <a href="{{ shortcode.url | absolute }}" class="lfp-secondary" {% if shortcode.url === page.url %}aria-current="page"{% endif %}>
                    {{ shortcode.data.title }}
                  </a>
                </li>
                {%- endfor %}
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    </aside>
    {% if hasHeadings -%}
    <aside class="lfp-page-navigation" id="page-navigation" popover>
      {% toc %}
    </aside>
    {%- endif %}
  </section>
  <main class="lfp-site-main" id="main-content">
    <div class="lfp-page-main">
      <div class="lfp-page-content">
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </div>
      {% if repositoryUrl or page.date -%}
      <section class="lfp-page-metadata">
        {% if repositoryUrl -%}
        <a href="{{ repositoryUrl }}/src/branch/main{{ page.inputPath | replace(".", "", 1) }}" class="lfp-edit-link lfp-with-icon" rel="noopener">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg>
          <span>Edit this page {% if repositoryHost %}on {{ repositoryHost | capitalize }}{% endif %}</span>
        </a>
        {%- endif %}
        {% if page.date -%}
        <div class="lfp-edit-time">
          Last updated: <time datetime="{{ page.date.toISOString() }}" class="edit-time">{{ page.date.toLocaleString() }}</time>
        </div>
        {%- endif %}
      </section>
      {%- endif %}
      {% set previous = collections.all | getPreviousCollectionItem %}
      {% set next = collections.all | getNextCollectionItem %}
      {% if previous or next -%}
      <nav class="lfp-pagination" aria-label="pagination">
        <ul>
          {% if previous -%}
          <li class="lfp-pagination-previous">
            <a href="{{ previous.url | absolute }}" class="lfp-pagination-link">
              <small>Previous page</small>
              <span>{{ previous.data.title }}</span>
            </a>
          </li>
          {%- endif %}
          {% if next -%}
          <li class="lfp-pagination-next">
            <a href="{{ next.url | absolute }}" class="lfp-pagination-link">
              <small>Next page</small>
              <span>{{ next.data.title }}</span>
            </a>
          </li>
          {%- endif %}
        </ul>
      </nav>
      {%- endif %}
    </div>
  </main>
  <script>
    const copySuccess = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/><path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/><path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/></svg>';
    document.querySelectorAll('.lfp-copy-button').forEach(btn => {
      btn.addEventListener('click', () => {
        const copyDefault = btn.innerHTML;
        navigator.clipboard.writeText(btn.nextElementSibling.textContent);
        btn.innerHTML = copySuccess;
        setTimeout(() => (btn.innerHTML = copyDefault), 1500);
      });
    });
  </script>
</body>
</html>