/**********/
/* RESETS */
/**********/

*,
*::before,
*::after {
  margin: 0;
}

/**************/
/* ANIMATIONS */
/**************/

@keyframes move-in {
  0% {
    translate: 0 10px;
    pointer-events: none;
  }
  100% {
    pointer-events: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    pointer-events: none;
  }
}

/*********************/
/* COMMON PROPERTIES */
/*********************/

:root {
  --color-bg-aside: #f6f6f7;
  --color-bg-main: #fff;
  --color-fg-primary: #3c3c43;
  --color-fg-secondary: #67676c;
  --color-fg-accent-1: #3451b2;
  --color-fg-accent-2: #3a5ccc;
  --color-border-1: #e2e2e3;
  --color-border-2: var(--color-border-1);
  
  --border-1: 1px solid var(--color-border-1);
  --border-2: 1px solid var(--color-border-2);

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
  --inline-margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-aside: #161618;
    --color-bg-main: #1b1b1f;
    --color-fg-primary: #dfdfd6;
    --color-fg-secondary: #98989f;
    --color-fg-accent-1: #a8b1ff;
    --color-fg-accent-2: #5c73e7;
    --color-border-1: #2e2e32;
    --color-border-2: #000;
  }
}

/*****************/
/* COMMON STYLES */
/*****************/

html {
  text-size-adjust: none;
  scrollbar-gutter: stable both-edges;
}

body {
  min-block-size: 100dvh;
  background-color: var(--color-bg-main);
  color: var(--color-fg-primary);
  font-family: sans-serif;
  line-height: 1.7;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

a {
  color: var(--color-fg-accent-1);
  transition: color 250ms;
}

a:hover,
a:focus {
  color: var(--color-fg-accent-2);
}

summary::marker {
  content: "";
}

a.secondary {
  color: var(--color-fg-secondary);
  text-decoration: none;
}

a.secondary:hover,
a.secondary:focus {
  color: var(--color-fg-primary);
}

button {
  cursor: pointer;
}

/*************/
/* UTILITIES */
/*************/

.collapsible-arrow {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  gap: var(--spacing-sm);
}

.collapsible-arrow::after {
  content: "";
  display: block;
  inline-size: 0.75ex;
  aspect-ratio: 1;
  border-inline-end: 2px solid var(--color-fg-secondary);
  border-block-end: 2px solid var(--color-fg-secondary);
  rotate: var(--_rotate, -45deg);
  transition:
    border-color 250ms,
    rotate 250ms;
}

.collapsible-arrow:hover::after {
  border-color: var(--color-fg-primary);
}

.with-icon {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

/*
Source - https://stackoverflow.com/a/19758620
Posted by anon, modified by community. See post 'Timeline' for change history
Retrieved 2026-05-23, License - CC BY-SA 4.0
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/***************/
/* MAIN LAYOUT */
/***************/

/* HEADER */
.site-header {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  block-size: var(--spacing-xl);
  padding-inline: var(--spacing-lg);
  border-block-end: var(--border-2);
  z-index: 2;
}

.site-title {
  justify-self: end;
  display: grid;
  place-content: center;
  block-size: inherit;
}

.site-title a {
  color: var(--color-fg-secondary);
  font-weight: 600;
  text-decoration: none;
  transition: color 250ms;
}

.site-title a:hover,
.site-title a:focus {
  color: var(--color-fg-primary);
}

.site-menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  block-size: inherit;
  background-color: var(--color-bg-main);
}

.site-menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  padding: 0;
}

/* NAVIGATION */
.navigation {
  position: sticky;
  inset-block-start: 0;
  margin-inline-start: var(--inline-margin);
  background-color: var(--color-bg-main);
  border-block-end: var(--border-1);
  z-index: 1;
}

.navigation-toggle-set {
  display: flex;
  justify-content: space-between;
}

.navigation button {
  padding: var(--spacing-md);
  border: none;
  background: none;
  color: var(--color-fg-secondary);
  font-size: small;
}

.page-navigation-toggle {
  anchor-name: --page-navigation-anchor;
}

.site-navigation {
  all: unset;
  position: fixed;
  inset: 0 auto 0 0;
  display: grid;
  
  background-color: var(--color-bg-aside);
  transition: translate 250ms;
  translate: -100%;
}

.site-navigation:popover-open {
  translate: 0;
}

.site-navigation:popover-open::backdrop {
  background-color: #0003;
  transition: background-color 250ms;

  @starting-style {
    background-color: transparent;
  }
}

.site-navigation nav {
  justify-self: end;
  max-inline-size: 30ch;
  margin: 0 var(--spacing-md);
  padding: var(--spacing-sm) var(--spacing-xs);
  border-block-start: var(--border-1);
  overflow-x: auto;
}

.site-navigation li:not(:first-child) details {
  border-block-start: var(--border-1);
}

.site-navigation details {
  margin-block: var(--spacing-sm);
  padding-block-start: var(--spacing-sm);
}

.site-navigation summary {
  padding-block: 0.25em;
  font-weight: 600;
  cursor: pointer;
}

.site-navigation [open] summary {
  --_rotate: 45deg;
}

.site-navigation ul {
  list-style-type: none;
  padding: 0;
}

.site-navigation a {
  display: block;
  padding-block: 0.25em;
  color: var(--color-fg-secondary);
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a[aria-current="page"] {
  color: var(--color-fg-accent-1);
}

.page-navigation {
  position: absolute;
  position-anchor: --page-navigation-anchor;
  inset: anchor(end) anchor(end) auto auto;
  border: var(--border-1);
  border-radius: var(--spacing-sm);
  background-color: var(--color-bg-aside);
  animation: move-in 250ms ease, fade-in 250ms ease;
  overflow: hidden;
}

.page-navigation:popover-open {
  box-shadow: 2px 2px 12px #0003;
}

.page-navigation h2 {
  padding-inline: var(--spacing-md);
  font-size: inherit;
}

.page-navigation ul {
  list-style-type: none;
  padding: 0;
}

.page-navigation li {
  padding-inline: var(--spacing-md);
}

/* MAIN CONTENT */
.site-main {
  margin-inline: var(--inline-margin) 0;
  padding: var(--spacing-xl) var(--spacing-lg) var(--spacing-lg);
}

.page-main {
  max-inline-size: 688px;
  margin-inline: auto;
}

.page-main .header-anchor {
  position: relative;
  color: var(--color-fg-primary);
  text-decoration: none;
}

.page-main .header-anchor::before,
.page-main .header-anchor::before {
  content: "#";
  position: absolute;
  inset: 0 auto auto 0;
  color: var(--color-fg-accent-1);
  line-height: 1;
  opacity: 0;
  transition: opacity 250ms;
  translate: calc(-100% - var(--spacing-sm));
}

.page-main .header-anchor:hover::before,
.page-main .header-anchor:focus::before {
  opacity: 1;
}

/* FOOTER */
.site-footer {
  margin-inline-start: var(--inline-margin);
  padding: var(--spacing-xl) var(--spacing-lg) var(--spacing-lg);
}

@media (min-width: 800px) {
  :root {
    --inline-margin: max(20rem, 25dvw);
  }

  .site-header {
    position: sticky;
    inset-block-start: 0;
    grid-template-columns: var(--inline-margin) 1fr;
    padding: 0;
    background-color: var(--color-bg-aside);
    border: none;
  }

  .site-title {
    margin-inline: var(--spacing-xl) var(--spacing-lg);
  }

  .site-menu {
    padding-inline: var(--spacing-lg);
    border-block-end: var(--border-2);
  }

  .navigation {
    inset-block-start: var(--spacing-xl);
  }

  .navigation .site-navigation-toggle {
    display: none;
  }

  .site-navigation {
    inline-size: var(--inline-margin);
    translate: 0;
  }

  .site-navigation nav {
    margin-block-start: var(--spacing-xl);
  }

  .page-navigation {
    inset: anchor(end) auto auto anchor(self-start);
  }
}

@media (min-width: 1200px) {
  .navigation .navigation-toggle-set {
    display: none;
  }

  /* TABLE OF CONTENT */
  .page-navigation {
    all: unset;
    position: fixed;
    inset: var(--spacing-xl) 0 0 auto;
    display: grid;
    inline-size: var(--inline-margin);
    padding-block-start: var(--spacing-xl);
    background-color: initial;
  }
 
  .page-navigation nav {
    padding-block: var(--spacing-xs);
    border-inline-start:var(--border-1);
    overflow-y: auto;
  }

  .site-main {
    margin-inline-end: var(--inline-margin);
  }
}

/**************/
/* COMPONENTS */
/**************/

/* PAGE CONTENT */
.page-content p,
.page-content ul,
.page-content ol {
  margin-block: 1lh;
}

.page-content h2 {
  margin-block: var(--spacing-lg) var(--spacing-md);
  padding-block-start: var(--spacing-xs);
  border-block-start: var(--border-1);
}

.page-content h3 {
  margin-block: var(--spacing-lg) var(--spacing-sm);
}

/* TABLES */
table {
  display: block;
  border-collapse: collapse;
  overflow-x: auto;
}

thead,
tr:nth-child(even) {
  background-color: var(--color-bg-aside);
}

td,
th {
  border: var(--border-1);
  text-align: start;
  padding: var(--spacing-sm) var(--spacing-md);
}

/* PAGE METADATA */
.page-metadata {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block: var(--spacing-lg);
  font-size: smaller;
}

.edit-link {
  text-decoration: none;
}

.edit-time {
  color: var(--color-fg-secondary);
}

/* PAGINATION */
.pagination ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr)); */
  gap: var(--spacing-md);
  padding-block: var(--spacing-lg);
  border-block-start: var(--border-1);
}

.pagination-next {
  text-align: end;
}

.pagination-link {
  display: grid;
  padding: var(--spacing-sm) var(--spacing-md);
  border: var(--border-1);
  border-radius: var(--spacing-sm);
  text-decoration: none;
  transition: border-color 250ms;
}

.pagination-link:hover,
.pagination-link:focus {
  border-color: var(--color-fg-accent-2);
}

.pagination-link small {
  color: var(--color-fg-primary);
}

@media (min-width: 640px) {
  .pagination ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .pagination-previous {
    grid-column: 1;
  }

  .pagination-next {
    grid-column: 2;
  }
}